#main-content {
  overflow-x: hidden; }

.box {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .box .box_card {
    background-size: auto cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    flex: 1;
    transition: flex 0.5s ease-in;
    position: relative;
    cursor: pointer; }
    .box .box_card.active {
      flex: 6; }
      .box .box_card.active h1 {
        opacity: 1; }
    .box .box_card h1 {
      font-size: 2rem;
      color: #ffffff;
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.5s ease-in; }

.progress-box {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center; }
  .progress-box-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .progress-box-container::before {
      content: "";
      background-color: #e0e0e0;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 4px;
      z-index: -20;
      transition: all .5s ease-in; }
  .progress-box-bar {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 0;
    height: 4px;
    z-index: -1;
    background-color: red;
    transition: all .5s ease-in; }
  .progress-box-circle {
    color: #999;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in;
    transition-delay: .5s; }

.rotate-nav {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh; }
  .rotate-nav_circle_container {
    position: absolute;
    top: -100px;
    left: -100px;
    z-index: 100;
    border-radius: 50%;
    cursor: pointer; }
  .rotate-nav_circle {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: all 1s ease-in-out; }
    .rotate-nav_circle.rotate_circle {
      transform: rotate(-90deg); }
    .rotate-nav_circle-btn-open {
      position: absolute;
      top: 60%;
      left: 60%; }
    .rotate-nav_circle-btn-close {
      position: absolute;
      top: 60%;
      left: 20%; }
  .rotate-nav_content {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    transition: all 1s ease;
    z-index: 50;
    padding: 100px 50px 10px 50px;
    height: 100%; }
    .rotate-nav_content-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .rotate-nav_content.rotate_content {
      transform: rotate(-20deg); }
  .rotate-nav_menu {
    position: absolute;
    bottom: 30px;
    left: -300px;
    transition: all 1.5s ease-in-out; }
    .rotate-nav_menu.show_menu {
      left: 0;
      animation-name: animateMenu;
      animation-duration: 2s; }
    .rotate-nav_menu nav ul {
      list-style: none; }
      .rotate-nav_menu nav ul li a:link,
      .rotate-nav_menu nav ul li a:visited,
      .rotate-nav_menu nav ul li a:active {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase; }

@keyframes animateMenu {
  0% {
    left: -100px; }
  90% {
    left: 5px; }
  100% {
    left: 0; } }

.search-bar {
  height: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
  justify-content: center;
  align-items: center; }
  .search-bar_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 50px; }
    .search-bar_box_input {
      position: absolute;
      top: 0;
      right: 30px;
      width: 0;
      height: 50px;
      opacity: 0;
      outline: none;
      font-size: 25px;
      transition: all .3s ease; }
      .search-bar_box_input.show_search-input {
        width: 250px;
        opacity: 1;
        height: 50px; }
    .search-bar_box_button {
      z-index: 100;
      position: absolute;
      top: 0;
      right: 0;
      height: 50px;
      width: 50px;
      transition: all .1s ease; }

.blurry-loading {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .blurry-loading_box {
    position: relative;
    height: 40rem;
    width: 40rem; }
    .blurry-loading_box img {
      position: absolute;
      top: 0;
      left: 0;
      filter: blur(100px); }
    .blurry-loading_box .loading-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6rem; }

.slide-in {
  margin: 100px auto !important;
  transform: translateX(200%);
  transition: transform .5s ease-in-out; }
  .slide-in:nth-of-type(even) {
    transform: translateX(-200%); }
  .slide-in.slide-show {
    transform: translateX(0); }

:root {
  --hover-width: 75%;
  --other-width: 25%; }

.split-page-box {
  height: 100vh;
  position: relative; }
  .split-page-box_split {
    position: absolute;
    top: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow-x: hidden;
    transition: all 1s ease; }
    .split-page-box_split h1 {
      font-size: 7rem;
      color: #ffffff;
      white-space: nowrap; }
  .split-page-box_split_left {
    left: 0;
    width: 50%;
    background-image: url("/image/javascript.jpg"); }
  .split-page-box_split_right {
    right: 0;
    width: 50%;
    background-image: url("/imagE/laravel.jpg"); }

.split-page-hover_left .split-page-box_split_left {
  width: var(--hover-width); }
  .split-page-hover_left .split-page-box_split_left h1 {
    transform: rotate(90deg); }

.split-page-hover_left .split-page-box_split_right {
  width: var(--other-width); }

.split-page-hover_right .split-page-box_split_left {
  width: var(--other-width); }

.split-page-hover_right .split-page-box_split_right {
  width: var(--hover-width); }

.login-box {
  height: 100vh;
  width: 100%; }
  .login-box-content {
    width: 300px; }
    .login-box-content form {
      height: 100%;
      width: 100%;
      padding: 1rem 0;
      color: #ffffff; }
      .login-box-content form h3 {
        text-align: center; }
      .login-box-content form .form-content {
        position: relative;
        width: 90%;
        margin: 1rem auto; }
        .login-box-content form .form-content input {
          background-color: transparent;
          border: 0;
          border-bottom: 2px solid #ffffff;
          display: block;
          width: 100%;
          font-size: 1.2rem;
          color: #ffffff; }
          .login-box-content form .form-content input:focus {
            outline: 0;
            border-color: #ced4da; }
            .login-box-content form .form-content input:focus + label span {
              color: red;
              transform: translateY(-30px); }
          .login-box-content form .form-content input:valid {
            border-color: #198754; }
            .login-box-content form .form-content input:valid + label span {
              color: green;
              transform: translateY(-30px); }
        .login-box-content form .form-content label {
          position: absolute;
          top: 0;
          left: 0; }
          .login-box-content form .form-content label span {
            display: inline-block;
            font-size: 1.2rem;
            min-width: 5px;
            transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
        .login-box-content form .form-content button {
          background-color: transparent;
          border: 1px solid #ffffff;
          padding: .2rem 1.5rem;
          border-radius: .5rem;
          color: #ffffff;
          margin-bottom: .5rem;
          width: 100%; }
          .login-box-content form .form-content button:hover {
            border-color: #ced4da; }
        .login-box-content form .form-content p {
          font-size: .8rem; }

.sound-box {
  height: 100vh; }

.dad-joke-box {
  height: 100vh; }

.key-code-box {
  height: 100vh; }

.faq-box {
  height: 100vh; }
  .faq-box-container {
    width: 70vw;
    position: relative;
    padding: 1rem;
    overflow: hidden; }
    .faq-box-container-title {
      font-weight: 600;
      font-size: 1.1rem; }
    .faq-box-container-body {
      display: none;
      transition: all 5s ease; }
    .faq-box-container-button {
      border: 1px solid yellow;
      position: absolute;
      top: 1rem;
      right: 1rem;
      border: none;
      background: transparent;
      font-size: 1.2rem;
      cursor: pointer; }
      .faq-box-container-button .bi-caret-up {
        display: none; }
    .faq-box-container.active {
      background-color: #fff5f5 !important; }
      .faq-box-container.active::before {
        content: "\f086";
        font-family: 'Font Awesome 5 Free';
        color: #2ecc71;
        font-size: 8rem;
        position: absolute;
        opacity: 0.2;
        top: -20px;
        left: 0; }
    .faq-box-container.active .faq-box-container-body {
      display: block; }
    .faq-box-container.active .faq-box-container-button .bi-caret-down {
      display: none; }
    .faq-box-container.active .faq-box-container-button .bi-caret-up {
      display: block; }

.tags-box {
  height: 100vh; }
