.animateNav {
    height: 100vh;

    & .nav-box {


        & ul {
            list-style: none;
            padding: 1rem 1rem;
            box-shadow: 0 -.1rem 2rem rgba(#000000, .1);
            background-color: #ffffff;
            border-radius: 10rem;

            & li {
                display: inline-block;
                //border: 1px solid black;
                padding: .2rem 1rem;
                display: none;

                & a:link,
                & a:visited,
                & a:active {
                    color: #5290f9;
                    font-weight: bold;
                    font-size: 1.1rem;
                    text-decoration: none;

                }

                & .toggle {
                    border: 0;
                    background: #ffffff;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    font-size: 1.1rem;

                    &:focus {
                        outline: 0;
                    }
                }
            }
        }
    }
}